<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">How to Nominate</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ol>
            <li>Search for the title of your favourite movie under <b>Movie Title</b></li>
            <li>Under the <b>Results</b> section, click the <b>Nominate</b> button under the movie of your choice</li>
            <li>
                In the <b>Nominations</b> section, view or remove your nominations. You'll only be able to add <i>five</i> movies before you get a warning
                
            </li>
            <br><i>Hint: Hover over the posters to see an enlarged version!</i>
        </ol>
    </div>
</ng-template>

<body>
    <div class="header">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        
        <div class="buttons">
            <!-- Buttons to direct to anchors in the page for easier use -->
            <a href="#search" class="search">Search Movies</a>
            <a href="#nominations" class="nominate">View Nominations</a>
            <a href="#" class="nominate" (click)="open(content)">Get Help</a>
        </div>
    </div>

    <div class="main">
        <!-- Search box -->
        <div id="search">
            <h3><span>Movie Title</span></h3>
            <i class="material-icons">search</i>
            <input type="text" [(ngModel)]="searchText" (keydown)="getMovies()">
        </div>
        
        <!-- Results from API GET request displaying title, year, and poster as well as nominate button -->
        <div class="results">
            <h3>Results for "{{ searchText }}"</h3>
            <ul class="movies">
                <li *ngFor="let movie of moviesList">
                    <img class="poster" src="{{movie.Poster}}">
                    <p class="title">{{ movie.Title }}</p>
                    <p class="details">{{ movie.Year }}</p>
                    
                    <input type="submit" (click)="nominate(movie)" value="Nominate" [disabled]="movie.isDisabled">
                </li>
            </ul>
        </div>
        
        <!-- Alert that shows if max number of nominations is received -->
        <div *ngIf="displayAlert" class="alert alert-success" role="alert">
            You've reached the maximum number of nominations!
        </div>

        <!-- List of nominations, similar layout to the results -->
        <div class="nominations" id="nominations">
            <h3>Nominations</h3>
            <ul class="noms">
                <li *ngFor="let nomination of nominationList">
                    <img class="poster" src="{{nomination.Poster}}">
                    <p class="title">{{ nomination.Title }}</p>
                    <p class="details">{{ nomination.Year }}</p>

                    <input type="submit" (click)="remove(nomination)" value="Remove">
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        Copyright © 2021 Nadeen Elshawish <br>
        <a href="https://github.com/nelshaw" class="fab fa-github-square"></a>
        <a href="https://www.linkedin.com/in/nadeenelshawish/" class="fab fa-linkedin"></a>
    </div>
</body>