<body>
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>

    <div *ngIf="displayAlert" class="alert alert-success" role="alert">
        You've reached the maximum number of nominations!
    </div>

    <div class="main">
        <div class="search">
            <p>Movie Title</p>
            <input type="text" [(ngModel)]="searchText" (keydown)="getMovies()">
            <!-- todo : remove if dynamic is working -->
            <!-- <input type="submit" (click)="getMovies()" value="Submit"> -->
        </div>

        <div class="results">
            <p>Results for "{{ searchText }}"</p>
            <ul class="movies">
                <li *ngFor="let movie of moviesList">
                    {{ movie.Title }} ({{ movie.Year }})
                    <input type="submit" (click)="nominate(movie)" value="Nominate">
                </li>
            </ul>
        </div>

        <div class="nominations">
            <p>Nominations</p>
            <ul class="noms">
                <li *ngFor="let nomination of nominationList">
                    {{ nomination.Title }} ({{ nomination.Year }})
                    <input type="submit" (click)="remove(nomination)" value="Remove">
                </li>
            </ul>
        </div>
    </div>
</body>