body {
    background: linear-gradient(120deg, #2B2D42, #505370);
    width: 100%;
    min-height:100vh;
}

h1, h2 {
    text-transform: capitalize;
    padding-left: 1vw;
    padding-top: 1vh;
    color: #EDF2F4;
}

.author{
    color: #EDF2F4;
    font-size: 70%;
    margin-bottom: 7.5em;
}

h2 {
    color: #8D99AE;
}


h3 {
    color: rgb(43, 42, 42);
    font-size: 170%;
    font-weight: 500;
    overflow: hidden;
}

h3:after{
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 3px solid #8D99AE;
    opacity: 0.15;
}

.header {
    padding: 5em;
}

a {
    border-radius: 5px;
    border: 1px solid #444;
    padding: 0.5em 1em 0.5em 1em;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 1vw;
    opacity: 0.8;
    transition: opacity .25s ease-in-out;
}

.search {
    background-color: rgb(204, 10, 10);
    color: white;
    border-color: rgb(204, 10, 10);
}

.nominate {
    background-color: #2B2D42;
    color: white;
    border-color: white;
    margin-left: 2em;
}

a:hover{
    opacity: 1;
}

p {
    margin: 0;
}

.title {
    font-weight: bold;
    color: #3d3f57;
}

.details{
    color: #8D99AE;
    font-size: 80%;
}

.main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    background-color: white;
}

.main div {
    padding: 2em;
    margin: 1em;
    background-color: white;
    width: 95vw;
    /* border-radius: 5px; */
    box-shadow: 1px 1px 1px rgb(231, 229, 229);
}

.search div {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.material-icons{
    color: lightgrey;
    font-size: 24px;
    text-align: center;
    position: absolute;
    padding: 0.4em;
    z-index: 1;
}

input[type="text"] {
    width: 100%;
    padding: 0.5em;
    padding-left: 2.5em;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    position: relative;
}

.results, .nominations {
    min-height: 30vh;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

li {
    padding: 12px;
    list-style: none;
    max-width: 12em;
    vertical-align: top;
}

.poster {
    width: 8em;
    max-width: 10em;
    transition: all 0.25s ease-in-out;
    margin-bottom: 0.5em;
}

.poster:hover{
    transform: scale(1.1);
}

input[type="submit"] {
    margin-top: 0.5em;
    background-color: #2B2D42;
    color: white;
    border-radius: 5px;
    border: 1px solid #2B2D42;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;

    opacity: 0.7;
    transition: opacity 0.25s ease-in-out
}

input[type="submit"]:hover {
    opacity: 1;
}

input:disabled, 
input:disabled:hover{
    background-color: #2B2D42;
    opacity: 0.3;
}
